body {
  margin: 0;
  padding: 0;
  background: url("../images/playa.jpg");
  background-repeat: no-repeat;
  background-size: 1600px 580px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.body-destinos {
  margin: 0;
  padding: 0;
  background-image: url("../images/playa.jpg");
  background-repeat: no-repeat;
  background-size: 1600px 330px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Helvetica, sans-serif;
}


/* HEADER */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
  background-color: black;
  padding-left: 10px;
}

.top-menu > a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

.contenedor {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; // 580px - 80px del header
}

.contenedor h2 {
  margin: 0;
  color: white;
  font-size: 27px;
  font-weight: 400;
}

.contenedor h3 {
  color: white;
  font-weight: 300;
}

.buscarDestino {
  height: 47px;
  width: 450px;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 8px;
  background-image: url("../images/lupa.svg");
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: right center;
}



/* DESTINOS */

.destinos-preferidos{
  margin: 55px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinos-preferidos h2 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.destinos-preferidos h3 {
  margin: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}



.countries{
  margin-top: 20px;
  color: black;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
  grid-template-columns: 370px;
  grid-template-rows: 235px 235px 235px 235px 235px 235px 235px 235px 235px;
  grid-template-areas: "mex1"
  "col"
  "fra"
  "pan"
  "arg"
  "lan"
  "bra"
  "mex2"
  "mex3";
  grid-gap: 15px 15px;
}

@media (min-width: 800px){
  .countries{
    grid-template-columns: 370px 370px;
    grid-template-rows: 235px 235px 235px 235px 235px;
    grid-template-areas: "mex1 col"
    "fra pan"
    "arg lan"
    "bra mex2"
    "mex3 .";
    grid-gap: 15px 15px;
  }
}

@media (min-width: 1160px){
  .countries {
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 235px 235px 235px;
    grid-template-areas: "mex1 col fra"
    "pan arg lan"
    "bra mex2 mex3 ";
    grid-gap: 15px 15px;
    /* border: 1px solid gray; */
  }
}

.mex1 { grid-area: mex1; }
.col { grid-area: col;}
.fra { grid-area: fra;}
.pan { grid-area: pan;}
.arg { grid-area: arg;}
.lan { grid-area: lan;}
.bra { grid-area: bra;}
.mex2 { grid-area: mex2;}
.mex3 { grid-area: mex3;}



.countries div {
  /* border: 1px solid red; */
}

.country-detail img {
  height: 195px;
  width: 368px;
}

.country-detail p {
  text-align: center;
  margin-top: 5px;
}


/* FOOTER */

.footer{
  margin-top: 5px;
  height: 140px;
  background-color: #2E2E2E;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0;
}

.footer p {
  color: white;
  font-size: 20px;
}

.social-icons {
  width: 24%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
}

.footer img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-left: 20px;
}

/* DESCRIPCION DESTINOS */

.country-description {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 250px; // 330px - 80px del header
}

.country-description h2 {
  margin: 0 200px;
  color: white;
  font-size: 28px;
  font-weight: 400;
}

.country-description p {
  margin: 0 200px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.city-filter {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  width: 30%;
  background-color: #E0E0E0;
  border-radius: 10px;
}

.checkbox-options p {
  margin: 0;
  padding: 0;
}

/* TOUR LIST */

.tour-list {
  width: 98.5%;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid gray;
  background-color: #E0E0E0;
  border-radius: 10px;
}

.tour-description {
  width: inherit;
  margin: 5px;
  padding: 5px;
  display: flex;
}

.tour-description img {
  height: 280px;
  width: 320px;
}

.tour-details {
  width: inherit;
  padding: 20px 40px 20px 80px;
  height: 240px;
  background-color: white;
}

.tour-details h4,
.tour-details h6 {
  margin: 0;
}

.tour-view {
  display: flex;
  justify-content: space-between;
}

.tour-details-items p,
.tour-details-values p {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.view-tour-button {
  width: 100px;
  height: 30px;
  border: 1px solid green;
  border-radius: 7px;
  background-color: green;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* REGISTER PAGE */

.logo-bedu {
  height: 60px;
  justify-content: center;
}

.body-register {
  background: none;
  background-color: #E0E0E0;
}

.footer-register {
  display: none;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  margin: 20px;
  padding: 25px;
  width: 1000px;
  border-radius: 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-fields {
  margin: 0;
  padding: 0;
  width: 600px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.register-form-fields input {
  margin-bottom: 12px;
  padding: 0;
  width: 100%;
  height: 18px;
}

.register-form-fields h5 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.register-form-fields > a {
  font-weight: 300;
}

input.button-send-register {
  margin: 0;
  padding: 3px;
  align-self: center;
  width: 340px;
  height: 25px;
  background-color: #00C46B;
  color: white;
  font-size: 12px;
  border: none;
}

/* PROFILE */

button.button-change-profile-photo {
    margin: 0;
    padding: 3px;
    width: 100%;
    height: 25px;
    background-color: #00C46B;
    color: white;
    font-size: 12px;
    border: none;
}

.profile-two-columns {
  margin: 20px;
  padding: 30px;
  width: 1000px;
  border-radius: 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.request-info-form {
  margin: 20px;
  padding: 30px;
  width: 1000px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.foto-perfil {
  text-align: center;
  width: 230px;
}

.foto-perfil img {
  width: 100%;
}

/* LOGIN */

.password-form-fields {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 170px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.password-form-fields input {
  margin-bottom: 12px;
  padding: 0;
  width: 100%;
  height: 24px;
}

.password-form-fields h5 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.password-form-fields > a {
  font-weight: 300;
}

.register-form h3 {
  margin: 45px;
}

input.button-save-information {
  margin: 0;
  padding: 3px;
  align-self: center;
  width: 140px;
  height: 25px;
  background-color: #00C46B;
  color: white;
  font-size: 12px;
  border: none;
}

.password-form {
  margin: 110px;
  padding: 25px;
  width: 800px;
  border-radius: 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
