body {
  margin: 0px;
  background: url("../images/playa.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

nav {
  padding-top: 7vh;
  color: white;
  background-color: black;
}

nav > a {
  float: right;
  color: white;
  margin: 10px;
}

p {
  color: black;
  font-weight: bold;
  font-size: 26px;
}

.contenedor {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buscador {
  background-color: white;
  width: 280px;
  display: flex;
}

.buscarDestino {
  height: 28px;
  width: 250px;
}

.lupa {
  height: 28px;
  width: 30px;
  background-color: black;
}
